@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Monofett&family=Roboto:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: #2c2c2c;
    
}
a,li{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
}
.logo-header{
    width: 50px;
}
.header{
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem .2rem;
}
.nav-menu ul{
    display: flex;
    align-items: center;
}
.nav-menu li{
    margin-right: 1.5rem;
}
.nav-menu a:hover{
    color: #4ad295;
}
.nav-menu li:last-child{
    background-color: #4ad295;
    border: 2px solid #4ad295;
    padding: 0.25rem 0.75rem;
    border-radius: .2rem;
}
.nav-menu li:last-child:hover{
    background: transparent;
    border: 2px solid #4ad295;

}
.menu-icon img{
    width: 30px;
    height: 30px;
    border-radius: 2px;

}
.menu-icon, #check{
    display: none;

}
body{
    background: #000;

}
.container{
    border: 2px solid #fff;
    box-shadow: inset 0 0 5px crimson, 0 0 10px crimson;
    border-radius: 60px;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    text-align: center;
    color: #fff;
}

.neon{
    font-family: 'Dancing Script', cursive;
    
    margin: 0;
    font-size: 50px;
    text-shadow: 0 0 15px crimson, 0 0 30px crimson, 0 0 50px crimson;

}

.neon2{
    font-family:Georgia, 'Times New Roman', Times, serif;
        margin: 0;
    font-size: 20px;
    text-shadow: 0 0 15px #4ad295, 0 0 30px #4ad295, 0 0 50px #4ad295;

}

.neon3{
    font-family: 'Dancing Script', cursive;
    letter-spacing: 5px;
    margin: 0;
    font-size: 20px;
    text-shadow: 0 0 15px crimson, 0 0 30px crimson, 0 0 50px crimson;

}
.flicker1{
    animation: parpadear 2s infinite backwards steps(3);

}
.flicker2{
    animation: parpadear 2.5s infinite backwards steps(4);

}
.flicker3{
    animation: parpadear 1.5s infinite backwards steps(2);

}

@keyframes parpadear{
    to{
        color: gray;
        text-shadow: none;
    }
}

main .sobre-nosotros {
    padding: 30px 0 60px 0;
}

.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
}

.img-aboutus {
    width:40%;

}

.sobre-nosotros .contenido-textox {
    width: 48%;
}
#titulo{
    color: #4ad295;
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
}

.contenido-textox h3 {
    margin-top: 100px;
    margin-bottom: 15px;
    color: #4ad295;
}

.contenido-textox h3 span {
    background: crimson;
    color: #4ad295;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
    
  
}

.contenido-textox p {
    padding: 0 0 30px 15px;
    font-weight: 300;
    text-align: justify;
    color: #fff;
}


footer {
    background: #2c2c2c;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;

}

.content-foo {
    text-align: center;

}

.content-foo h4 {
    color: #fff;
    border-bottom: 3px solid #4ad295;
    padding-bottom: 5px;
    margin-bottom: 10px;

}

.content-foo p {
    color: #ccc;
}

.titulo-final {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

@media screen and (max-width:900px) {
    header {
        background-position: center;
    }
    

    .contenedor-sobre-nosotros {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textox {
        width: 90%;
    }

    .img-aboutus {
        width: 90%;
    }

   
}

@media screen and (max-width:500px) {
    .checkbtn{
        display: block;
    }
    .menu-icon{
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
        }
        
        .nav-menu ul{
        display: block;
        position: fixed;
        top: 70px;
        left: -100%;
        background: #222;
        width: 100%;
        height: 100vh;
        right: 0;
    }
    .nav-menu ul li{
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .nav-menu ul li:last-child{
        background: none;
        padding: 1rem;
    }
    #check:checked ~ ul{
        left: 0;
transition: all .25s;
    }
    
        

    .textos-header h1 {
        font-size: 35px;
    }

    .textos-header h2 {
        font-size: 20px;
    }

    .img-aboutus {
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textox {
        width: 95%;
    }

   

    .contenedor-footer {
        flex-direction: column;
        border: none;

    }

    .content-foo {
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4 {
        border: none;
    }

    .content-foo p {
        border: #4ad295;
        border-bottom: 1px solid #4ad295;
        padding-bottom: 20px;
    }

    .titulo-final {
        font-size: 20px;
    }
}


    @media(max-width:768px){
    
    .checkbtn{
        display: block;
    }
    .header{
        padding: .5rem .2rem;
        justify-content: end;
        align-items: center;
    }
    
    
   
    .menu-icon{
        display: block;
        position: fixed;
        top: 6px;
        right: 20px;
        cursor: pointer;
        }
        
        .nav-menu ul{
        display: block;
        position: fixed;
        top: 70px;
        left: -100%;
        background: #222;
        width: 100%;
        height: 100vh;
        right: 0;
    }
    .nav-menu ul li{
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .nav-menu ul li:last-child{
        background: none;
        padding: 1rem;
    }
    #check:checked ~ ul{
        left: 0;
transition: all .25s;
    }
    
    }
    